@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}