@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@600&family=Ubuntu&display=swap');
/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 25px;
}

/* Add a color to the active/current link */
/* .topnav a.active {
  background-color: #ddd;
  color: black;
} */

@media screen and (max-width: 420px) {
  .topnav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
  }
}
