@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@600&family=Ubuntu&display=swap');
body{
    background-color: black;
    color: white;
}

.head{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 30px;
}
.subhead{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 35px;
}

.marks{
    /* border: 2px solid black; */
    margin: 7px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sub{
    display: flex;
}
.subname{
    padding: 0px 15px;
    
    font-family: 'Ubuntu', sans-serif;
    font-size: 23px;
}

.form{
    padding: 26px 2px;      
    
}
.form input{
    border-radius: 5px; 
    background-color: white;
    color: black;
    width: 150px;
    height: 25px;
    font-weight: bolder;
    font-size: 15px;
  
}

.btn{
    text-align: center;
    margin: 20px;   
}
.btn button{
    font-size: 21px;
    padding: 14px;
    cursor: pointer;
    border-radius: 12px;
    background-color: black;
    color: white;

}

.btn button:hover{
   background-color: white;
   color: black;
}

@media screen and (max-width: 1290px) {
    .head {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 432px) {
    .subname {
      font-size: 18px;
      padding-top: 10px;
    }
  }
